<h1>Payment Calculation</h1>

<form action="/payment/results">
  <div>
    <label for "APR">
      APR
    </label>
    <input type="text" name="user_apr" placeholder="e.g. 5.42" id="APR">
  </div >
  <div>
    <label FOR "Number of years">
      Number of years
    </label>
    <input type="text" name="user_years" placeholder="How many years to repay?" id="Number of years">
  </div >
  <div>
    <label for "Principal">
      Principal
    </label>
    <input type="text" name="user_principal" placeholder="How much principal?" id="Principal">
  </div >
  <button>Calculate monthly payment</button>
</form>
