<h1>Random Calculation</h1>

<form action="/random/results">
  <div>
    <label for="Minimum">
      Minimum
    </label>
    <input type="text" name="user_min" placeholder="e.g. 1.5" id="Minimum">
  </div >
  <div>
    <label>
      Maximum
    </label>
    <input type="text" name="user_max" placeholder="e.g. 4.5">
  </div >

  <button>Pick random number</button>
</form>
